:root {
    --black: #0b0c10;
    --dark-grey: #1f2833;
    --grey: #888;
    --light-grey: #c5c6c7;
    --xlight-grey: #eee;
    --dark-blue: #0645ad;
    --light-blue: #0677bb;
    --cyan: #66fcf1;
    --blue: #45a29e;
    --white: #fefefe;
    --yellow: #faa700;
}
