@import "colors.css";

:root {
    --font-color: var(--black);
    --background: var(--xlight-grey);

    --a: var(--dark-blue);
    --a-hover: var(--light-blue);
    --a-active: var(--yellow);

    --h-border-bottom: var(--light-grey);
    --hr: var(--light-grey);

    --th: var(--light-grey);
    --table-border: var(--dark-grey);
    --table-row-dark: var(--grey);
    --table-row-default: var(--light-grey);
}
