:root {
    --font-s: 12px;
    --font-m: 14px;
    --font-l: 16px;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background-color: none;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 10px;
}

body {
    color: var(--font-color);
    background: var(--background);
    font-family: "Roboto", sans-serif;
    font-size: var(--font-s);
    padding: 1em;
    margin: auto;
    max-width: 60em;
    margin-bottom: 20em;
}

p {
    margin: 0.5em 0;
}

a,
a:visited,
a:focus {
    color: var(--a);
    text-decoration: none;
}

a:hover {
    color: var(--a-hover);
}

a:active {
    color: var(--a-active);
}

a:focus {
    outline: thin solid;
}

a:hover,
a:active {
    outline: 0;
}

img {
    max-width: 100%;
    max-height: 50vh;
    border: 0;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--font-color);
    font-weight: bold;
    line-height: 0.9em;
    margin: 1em 0 0.4em 0;
}

h1,
h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid var(--h-border-bottom);
}

h1 {
    font-size: 2.7em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid var(--hr);
    border-bottom: 1px solid #eee;
    margin: 1em 0;
    padding: 0;
}

pre,
code {
    color: var(--font-color);
    font-family: monospace;
    border-radius: 0.5em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

b,
strong {
    font-weight: bold;
}

ul,
ol {
    margin: 0 0;
    padding: 0 0 0 2em;
}

li p:last-child {
    margin: 0;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 20em;
}

th {
    font-size: 1.2em;
    background-color: var(--th);
}

tr:hover,
tr:nth-of-type(even),
tr:nth-of-type(even):hover {
    background-color: var(--table-row-dark);
}

th,
td {
    padding: 12px 15px;
    border: 1px solid var(--table-border);
}

tr {
    background-color: var(--table-row-default);
    text-align: center;
}

@media only screen and (min-width: 480px) {
    body {
        font-size: var(--font-m);
    }
}

@media only screen and (min-width: 780px) {
    body {
        font-size: var(--font-l);
    }
}
