:root {
    --black: #0b0c10;
    --dark-grey: #1f2833;
    --grey: #888;
    --light-grey: #c5c6c7;
    --xlight-grey: #eee;
    --dark-blue: #0645ad;
    --light-blue: #0677bb;
    --cyan: #66fcf1;
    --blue: #45a29e;
    --white: #fefefe;
    --yellow: #faa700;

    --font-s: 12px;
    --font-m: 14px;
    --font-l: 16px;
}

body {
    color: var(--dark-grey);
    background: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: var(--font-s);
    padding: 1em;
    margin: auto;
    max-width: 60em;
    margin-bottom: 20em;
}

p {
    margin: 0.5em 0;
}

a,
a:visited,
a:focus {
    color: var(--dark-blue);
    text-decoration: none;
}

a:hover {
    color: var(--light-blue);
}

a:active {
    color: var(--yellow);
}

a:focus {
    outline: thin solid;
}

a:hover,
a:active {
    outline: 0;
}

img {
    max-width: 100%;
    border: 0;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black);
    font-weight: bold;
    line-height: 0.9em;
    margin: 1em 0 0.4em 0;
}

h1,
h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid var(--light-grey);
}

h1 {
    font-size: 2.7em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.1em;
}

h6 {
    font-size: 1em;
}

blockquote {
    color: var(--light-grey);
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em #eee solid;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid #eee;
    margin: 1em 0;
    padding: 0;
}

pre,
code {
    color: var(--black);
    font-family: monospace;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

b,
strong {
    font-weight: bold;
}

ul,
ol {
    margin: 0 0;
    padding: 0 0 0 2em;
}

li p:last-child {
    margin: 0;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 20em;
}

tr {
    background-color: var(--xlight-grey);
    text-align: center;
}

th {
    font-size: 1.2em;
}

th,
tr:hover {
    background-color: var(--grey);
}

th,
td {
    padding: 12px 15px;
    border: 1px solid var(--dark-grey);
}

tr:nth-of-type(even) {
    background-color: var(--light-grey);
}

tr:nth-of-type(even):hover {
    background-color: var(--grey);
}

@media only screen and (min-width: 480px) {
    body {
        font-size: var(--font-m);
    }
}

@media only screen and (min-width: 780px) {
    body {
        font-size: var(--font-l);
    }
}
